In [1]:
import pandas as pd

loading_array = pd.read_excel('./REV00_Loading Plan Oishi Apr 24 - Jun 24.xlsx', usecols="B,J,L,N,P", nrows=None, skiprows=[0,1,2])
loading_array

     SAP Code         Case       Case.1       Case.2       Case.3
0   310002949   183.963085   308.986541   166.102591   273.265553
1   310002950  1873.842868  1891.731583   970.462774   970.462774
2   310002953  1805.622289  2071.341692  1431.982720  1643.288593
3   310002954  7065.899772  6098.415034  5881.002733  4815.682460
4   310002951    77.834349   165.008819   130.761706   129.983362
..        ...          ...          ...          ...          ...
64  310002381     0.000000     0.000000     0.000000     0.000000
65  310004556     0.000000     0.000000     0.000000     0.000000
66  310004568  3168.000000     0.000000     0.000000     0.000000
67  310004566     0.000000     0.000000     0.000000     0.000000
68  310004569     0.000000     0.000000     0.000000     0.000000

[69 rows x 5 columns]

In [2]:
loading_array.rename(mapper= {'SAP Code': 'ID', 'Case':'CaseW1', 'Case.1':'CaseW2', 'Case.2':'CaseW3', 'Case.3':'CaseW4'}, axis=1, inplace=True)
loading_array

           ID       CaseW1       CaseW2       CaseW3       CaseW4
0   310002949   183.963085   308.986541   166.102591   273.265553
1   310002950  1873.842868  1891.731583   970.462774   970.462774
2   310002953  1805.622289  2071.341692  1431.982720  1643.288593
3   310002954  7065.899772  6098.415034  5881.002733  4815.682460
4   310002951    77.834349   165.008819   130.761706   129.983362
..        ...          ...          ...          ...          ...
64  310002381     0.000000     0.000000     0.000000     0.000000
65  310004556     0.000000     0.000000     0.000000     0.000000
66  310004568  3168.000000     0.000000     0.000000     0.000000
67  310004566     0.000000     0.000000     0.000000     0.000000
68  310004569     0.000000     0.000000     0.000000     0.000000

[69 rows x 5 columns]

In [3]:
loading_array['CaseW1'] = loading_array['CaseW1'].round(0).astype(int)
loading_array['CaseW2'] = loading_array['CaseW2'].round(0).astype(int)
loading_array['CaseW3'] = loading_array['CaseW3'].round(0).astype(int)
loading_array['CaseW4'] = loading_array['CaseW4'].round(0).astype(int)
# loading_array['CaseW1'] = loading_array['CaseW1'].astype(int)
loading_array

           ID  CaseW1  CaseW2  CaseW3  CaseW4
0   310002949     184     309     166     273
1   310002950    1874    1892     970     970
2   310002953    1806    2071    1432    1643
3   310002954    7066    6098    5881    4816
4   310002951      78     165     131     130
..        ...     ...     ...     ...     ...
64  310002381       0       0       0       0
65  310004556       0       0       0       0
66  310004568    3168       0       0       0
67  310004566       0       0       0       0
68  310004569       0       0       0       0

[69 rows x 5 columns]

In [4]:
firstDay = loading_array[loading_array['ID'] == 310002014]

firstDay

           ID  CaseW1  CaseW2  CaseW3  CaseW4
19  310002014       0       0       0       0

In [5]:
# Create the first column with numbers from 1 to 30
days = list(range(1, 31))

# Create an empty list to store the data
data = []

# Iterate over days and stock IDs in the existing data frame
for day in days:
    for i, row in loading_array.iterrows():
        stock_id = row.iloc[0]
        if day == 1:
            stocks_Needed = row.iloc[1]
        elif day == 8:
            stocks_Needed = row.iloc[2]
        elif day == 15:
            stocks_Needed = row.iloc[3]
        elif day == 22:
            stocks_Needed = row.iloc[4]
        else:
            stocks_Needed = 0
        data.append([day, stock_id, stocks_Needed])

# Create the new DataFrame
stocks_Needed = pd.DataFrame(data, columns=['Day', 'ID', 'stocks Needed'])
stocks_Needed

      Day         ID  stocks Needed
0       1  310002949            184
1       1  310002950           1874
2       1  310002953           1806
3       1  310002954           7066
4       1  310002951             78
...   ...        ...            ...
2065   30  310002381              0
2066   30  310004556              0
2067   30  310004568              0
2068   30  310004566              0
2069   30  310004569              0

[2070 rows x 3 columns]

In [6]:
existing_stock = pd.read_excel('./Stock 01 April 2024.xlsx', usecols="B,C,E", nrows=None, skiprows=[0,50])
existing_stock.rename(mapper= {'สถานที่จัดเก็บ':'Factory ID','Stock : 01/04/24':'num_stocks', 'Material':'ID'}, axis=1, inplace=True)
existing_stock['num_stocks'] = existing_stock['num_stocks'].astype(int)
existing_stock

       Factory ID         ID  num_stocks
0             WHC  310002949        1848
1             WHC  310002950         183
2             WHC  310002951        2317
3             WHC  310002952          27
4             WHC  310002953       11276
5             WHC  310002954        2437
6             WHC  310003079        3404
7             WHC  310003080         823
8             WHC  310002646       32144
9             WHC  310003155        1251
10            WHC  310003572       23344
11            WHC  310003573       65383
12            WHC  310001998       12727
13            WHC  310003571       33423
14            WHC  310004209       24002
15            WHC  310001984        1902
16            WHC  310002099           8
17            WHC  310001993       12084
18            WHC  310001994       42018
19            WHC  310002015       54346
20            WHC  310002016       17618
21            WHC  310002100       27726
22            WHC  310002381        2723
23            WHC  310001995       51479
24            WHC  310002002       46970
25            WHC  310002003        5260
26  โรงงานวังม่วง  310002641       10593
27  โรงงานวังม่วง  310002642       11703
28  โรงงานวังม่วง  310002644       36782
29  โรงงานวังม่วง  310003649       15264
30  โรงงานวังม่วง  310003711       39581
31  โรงงานวังม่วง  310004070        5561
32  โรงงานวังม่วง  310004338        3236
33  โรงงานวังม่วง  310001991       41521
34  โรงงานวังม่วง  310002013       28124
35  โรงงานวังม่วง  310002142        3662
36  โรงงานวังม่วง  310004069       15350
37  โรงงานวังม่วง  310004339        7156
38  โรงงานวังม่วง  310002906          12
39  โรงงานวังม่วง  310003341          42
40  โรงงานวังม่วง  310003704         701
41  โรงงานวังม่วง  310003722         782
42  โรงงานวังม่วง  310003725          37
43  โรงงานวังม่วง  310002000       29794
44  โรงงานวังม่วง  310002001       10462
45  โรงงานวังม่วง  310004556          85
46  โรงงานวังม่วง  310004566           4
47  โรงงานวังม่วง  310004568        3955

In [7]:
# row_index = existing_stock.loc[existing_stock['Factory'] == 'WHC'].index[0]
# existing_stock.loc[row_index, 'Factory'] = 35

existing_stock.loc[existing_stock['Factory ID'] == 'WHC', 'Factory ID'] = 9321
existing_stock.loc[existing_stock['Factory ID'] == 'โรงงานวังม่วง', 'Factory ID'] = 9323
existing_stock

   Factory ID         ID  num_stocks
0        9321  310002949        1848
1        9321  310002950         183
2        9321  310002951        2317
3        9321  310002952          27
4        9321  310002953       11276
5        9321  310002954        2437
6        9321  310003079        3404
7        9321  310003080         823
8        9321  310002646       32144
9        9321  310003155        1251
10       9321  310003572       23344
11       9321  310003573       65383
12       9321  310001998       12727
13       9321  310003571       33423
14       9321  310004209       24002
15       9321  310001984        1902
16       9321  310002099           8
17       9321  310001993       12084
18       9321  310001994       42018
19       9321  310002015       54346
20       9321  310002016       17618
21       9321  310002100       27726
22       9321  310002381        2723
23       9321  310001995       51479
24       9321  310002002       46970
25       9321  310002003        5260
26       9323  310002641       10593
27       9323  310002642       11703
28       9323  310002644       36782
29       9323  310003649       15264
30       9323  310003711       39581
31       9323  310004070        5561
32       9323  310004338        3236
33       9323  310001991       41521
34       9323  310002013       28124
35       9323  310002142        3662
36       9323  310004069       15350
37       9323  310004339        7156
38       9323  310002906          12
39       9323  310003341          42
40       9323  310003704         701
41       9323  310003722         782
42       9323  310003725          37
43       9323  310002000       29794
44       9323  310002001       10462
45       9323  310004556          85
46       9323  310004566           4
47       9323  310004568        3955

In [8]:
# Merge the two dataframes on the common column 'ID'
stocks_need_exist = pd.merge(stocks_Needed, existing_stock, on='ID', how='left')

# Conditionally fill values based on the 'day' column
stocks_need_exist['num_stocks'] = stocks_need_exist.apply(lambda row: row['num_stocks'] if row['Day'] == 1 else 0, axis=1)

stocks_need_exist['num_stocks'] = stocks_need_exist['num_stocks'].fillna(0)
# Makes the ID and Day an int
stocks_need_exist['ID'] = stocks_need_exist['ID'].astype(int)
stocks_need_exist['Day'] = stocks_need_exist['Day'].astype(int)

stocks_need_exist

      Day         ID  stocks Needed Factory ID  num_stocks
0       1  310002949            184       9321      1848.0
1       1  310002950           1874       9321       183.0
2       1  310002953           1806       9321     11276.0
3       1  310002954           7066       9321      2437.0
4       1  310002951             78       9321      2317.0
...   ...        ...            ...        ...         ...
2065   30  310002381              0       9321         0.0
2066   30  310004556              0       9323         0.0
2067   30  310004568              0       9323         0.0
2068   30  310004566              0       9323         0.0
2069   30  310004569              0        NaN         0.0

[2070 rows x 5 columns]

In [9]:
# gets the data and reorganizes the columns 
loading_plan = pd.read_excel('./00 Production Plan Mar24_WW 13_2024 Update 270324 08.02 น..xlsx', usecols="K,M,G,Y", sheet_name='27032024A')
columns_titles = ["Plant","Material Number","Loading Date", "Quantity (CAR)"]
loading_plan=loading_plan.reindex(columns=columns_titles)


findNumber = loading_plan[loading_plan['Material Number'] ==  310004556]
findNumber

     Plant  Material Number Loading Date  Quantity (CAR)
159   9323        310004556   2024-03-21             660
160   9323        310004556   2024-03-22            1350

In [10]:
loading_plan["stock_aval_date"] = loading_plan["Loading Date"]
loading_plan

     Plant  Material Number Loading Date  Quantity (CAR) stock_aval_date
0     9321        310001586   2024-03-03            7350      2024-03-03
1     9321        310001586   2024-03-03            9800      2024-03-03
2     9321        310002953   2024-03-03           11117      2024-03-03
3     9321        310002953   2024-03-03           10150      2024-03-03
4     9323        310002654   2024-03-03           28000      2024-03-03
..     ...              ...          ...             ...             ...
592   9111        310001229   2024-03-14           17966      2024-03-14
593   9111        310001229   2024-03-29           17966      2024-03-29
594   9111        310001229   2024-04-12            5989      2024-04-12
595   9111        310001198   2024-04-22            5989      2024-04-22
596   9111        310001229   2024-04-22           11976      2024-04-22

[597 rows x 5 columns]

In [11]:
loading_plan["Loading Date"] = loading_plan["Loading Date"].dt.month
loading_plan["Loading Date"] = loading_plan["Loading Date"] == 4


loading_plan

     Plant  Material Number  Loading Date  Quantity (CAR) stock_aval_date
0     9321        310001586         False            7350      2024-03-03
1     9321        310001586         False            9800      2024-03-03
2     9321        310002953         False           11117      2024-03-03
3     9321        310002953         False           10150      2024-03-03
4     9323        310002654         False           28000      2024-03-03
..     ...              ...           ...             ...             ...
592   9111        310001229         False           17966      2024-03-14
593   9111        310001229         False           17966      2024-03-29
594   9111        310001229          True            5989      2024-04-12
595   9111        310001198          True            5989      2024-04-22
596   9111        310001229          True           11976      2024-04-22

[597 rows x 5 columns]

In [12]:
# get rid of rows that are not in the month on April
loading_plan = loading_plan[loading_plan['Loading Date']]
loading_plan.reset_index(drop=True, inplace=True)
loading_plan.drop(columns=['Loading Date'], inplace=True)
loading_plan

C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\1081745869.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loading_plan.drop(columns=['Loading Date'], inplace=True)

     Plant  Material Number  Quantity (CAR) stock_aval_date
0     9321        310001586           13220      2024-04-01
1     9323        310002654           23800      2024-04-01
2     9323        310002641           13800      2024-04-01
3     9321        310001984            9000      2024-04-01
4     9321        310002099           16200      2024-04-01
..     ...              ...             ...             ...
250   9111        310001198           17966      2024-04-27
251   9111        310001198           17966      2024-04-28
252   9111        310001229            5989      2024-04-12
253   9111        310001198            5989      2024-04-22
254   9111        310001229           11976      2024-04-22

[255 rows x 4 columns]

In [13]:
yes = loading_plan[loading_plan['Material Number'] == 310001586]
yes

     Plant  Material Number  Quantity (CAR) stock_aval_date
0     9321        310001586           13220      2024-04-01
10    9321        310001586            7700      2024-04-03
11    9321        310001586            2100      2024-04-03
18    9321        310001586            9800      2024-04-04
29    9321        310001586            9800      2024-04-05
37    9322        310001586           13388      2024-04-05
38    9321        310001586            9800      2024-04-06
46    9322        310001586           11900      2024-04-06
47    9322        310001586            7000      2024-04-06
48    9321        310001586            9800      2024-04-07
56    9322        310001586           17010      2024-04-07
62    9322        310001586           17010      2024-04-08
70    9322        310001586            8424      2024-04-09
143   9322        310001586           12050      2024-04-19
152   9322        310001586           17010      2024-04-20
160   9322        310001586           17010      2024-04-21
166   9322        310001586           17010      2024-04-22
173   9322        310001586            8424      2024-04-23

In [14]:

# Extract day and convert to int
loading_plan['stock_aval_date'] = loading_plan['stock_aval_date'].dt.day.astype(int)

# Display the DataFrame
loading_plan

C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\3558796017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loading_plan['stock_aval_date'] = loading_plan['stock_aval_date'].dt.day.astype(int)

     Plant  Material Number  Quantity (CAR)  stock_aval_date
0     9321        310001586           13220                1
1     9323        310002654           23800                1
2     9323        310002641           13800                1
3     9321        310001984            9000                1
4     9321        310002099           16200                1
..     ...              ...             ...              ...
250   9111        310001198           17966               27
251   9111        310001198           17966               28
252   9111        310001229            5989               12
253   9111        310001198            5989               22
254   9111        310001229           11976               22

[255 rows x 4 columns]

In [15]:
# Merge loading_plan into stocks_need_exist on both 'Loading Date' and 'Day', and 'Material Number' and 'ID'
merged_df = pd.merge(stocks_need_exist, loading_plan, left_on=['Day', 'ID', 'Factory ID'], right_on=['stock_aval_date', 'Material Number', 'Plant'], how='left')

# Fill missing values in 'Quantity (CAR)' with zero
merged_df['Quantity (CAR)'] = merged_df['Quantity (CAR)'].fillna(0)

# Drop redundant columns if needed
# merged_merged_merged_merged_df = merged_df.drop(columns=['stock_aval_date', 'Material Number'])
merged_df.rename(mapper= {'Quantity (CAR)':'stock_created'}, axis=1, inplace=True)
columns_titles = ["Day","Factory ID" ,"ID", "stocks Needed", "num_stocks", "stock_created"]
merged_df=merged_df.reindex(columns=columns_titles)
stock_num = merged_df[merged_df['ID'] == 310002000]
stock_num

      Day Factory ID         ID  stocks Needed  num_stocks  stock_created
27      1       9323  310002000          25005     29794.0            0.0
96      2       9323  310002000              0         0.0            0.0
165     3       9323  310002000              0         0.0            0.0
235     4       9323  310002000              0         0.0            0.0
304     5       9323  310002000              0         0.0            0.0
373     6       9323  310002000              0         0.0            0.0
442     7       9323  310002000              0         0.0        21000.0
511     8       9323  310002000          27050         0.0        23800.0
580     9       9323  310002000              0         0.0        23800.0
650    10       9323  310002000              0         0.0        23800.0
719    11       9323  310002000              0         0.0         2401.0
789    12       9323  310002000              0         0.0            0.0
858    13       9323  310002000              0         0.0            0.0
927    14       9323  310002000              0         0.0            0.0
996    15       9323  310002000          34732         0.0            0.0
1065   16       9323  310002000              0         0.0            0.0
1134   17       9323  310002000              0         0.0            0.0
1203   18       9323  310002000              0         0.0            0.0
1272   19       9323  310002000              0         0.0            0.0
1341   20       9323  310002000              0         0.0            0.0
1410   21       9323  310002000              0         0.0            0.0
1479   22       9323  310002000          36346         0.0            0.0
1549   23       9323  310002000              0         0.0         3901.0
1618   24       9323  310002000              0         0.0        23092.0
1687   25       9323  310002000              0         0.0        23800.0
1756   26       9323  310002000              0         0.0        18450.0
1825   27       9323  310002000              0         0.0            0.0
1894   28       9323  310002000              0         0.0            0.0
1963   29       9323  310002000              0         0.0            0.0
2032   30       9323  310002000              0         0.0            0.0

In [16]:
merged_df['produced_at_plant_9321'] = merged_df.apply(lambda x: x['stock_created'] if x['Factory ID'] == 9321 else 0, axis=1)
merged_df['produced_at_plant_9323'] = merged_df.apply(lambda x: x['stock_created'] if x['Factory ID'] == 9323 else 0, axis=1)
# merged_df.drop(columns=['stock_created'], inplace=True)
stock_num = merged_df[merged_df['ID'] == 310002000]
stock_num

,Day,Factory ID,ID,stocks Needed,num_stocks,stock_created,produced_at_plant_9321,produced_at_plant_9323
27,1,9323,310002000,25005,29794.0,0.0,0.0,0.0
96,2,9323,310002000,0,0.0,0.0,0.0,0.0
165,3,9323,310002000,0,0.0,0.0,0.0,0.0
235,4,9323,310002000,0,0.0,0.0,0.0,0.0
304,5,9323,310002000,0,0.0,0.0,0.0,0.0
373,6,9323,310002000,0,0.0,0.0,0.0,0.0
442,7,9323,310002000,0,0.0,21000.0,0.0,21000.0
511,8,9323,310002000,27050,0.0,23800.0,0.0,23800.0
580,9,9323,310002000,0,0.0,23800.0,0.0,23800.0
650,10,9323,310002000,0,0.0,23800.0,0.0,23800.0
719,11,9323,310002000,0,0.0,2401.0,0.0,2401.0
789,12,9323,310002000,0,0.0,0.0,0.0,0.0
858,13,9323,310002000,0,0.0,0.0,0.0,0.0
927,14,9323,310002000,0,0.0,0.0,0.0,0.0
996,15,9323,310002000,34732,0.0,0.0,0.0,0.0
1065,16,9323,310002000,0,0.0,0.0,0.0,0.0
1134,17,9323,310002000,0,0.0,0.0,0.0,0.0
1203,18,9323,310002000,0,0.0,0.0,0.0,0.0
1272,19,9323,310002000,0,0.0,0.0,0.0,0.0
1341,20,9323,310002000,0,0.0,0.0,0.0,0.0
1410,21,9323,310002000,0,0.0,0.0,0.0,0.0
1479,22,9323,310002000,36346,0.0,0.0,0.0,0.0
1549,23,9323,310002000,0,0.0,3901.0,0.0,3901.0
1618,24,9323,310002000,0,0.0,23092.0,0.0,23092.0
1687,25,9323,310002000,0,0.0,23800.0,0.0,23800.0
1756,26,9323,310002000,0,0.0,18450.0,0.0,18450.0
1825,27,9323,310002000,0,0.0,0.0,0.0,0.0
1894,28,9323,310002000,0,0.0,0.0,0.0,0.0
1963,29,9323,310002000,0,0.0,0.0,0.0,0.0
2032,30,9323,310002000,0,0.0,0.0,0.0,0.0

In [17]:
# Initialize new columns for cumulative stock
merged_df['cumulative_stock_9321'] = 0.0
merged_df['cumulative_stock_9323'] = 0.0

# Update the total produced columns based on Factory ID
merged_df.loc[merged_df['Factory ID'] == 9321, 'total_produced_9321'] = merged_df['num_stocks'] 
merged_df.loc[merged_df['Factory ID'] == 9323, 'total_produced_9323'] = merged_df['num_stocks']

# Add stock_created to the total produced columns
merged_df.loc[merged_df['Factory ID'] == 9321, 'total_produced_9321'] += merged_df['stock_created']
merged_df.loc[merged_df['Factory ID'] == 9323, 'total_produced_9323'] += merged_df['stock_created']

# Calculate cumulative stock for each factory and ID
merged_df['cumulative_stock_9321'] = merged_df[merged_df['Factory ID'] == 9321].groupby('ID')['total_produced_9321'].cumsum()
merged_df['cumulative_stock_9323'] = merged_df[merged_df['Factory ID'] == 9323].groupby('ID')['total_produced_9323'].cumsum()

# Fill NaN values with 0 (if any)
merged_df['cumulative_stock_9321'].fillna(0, inplace=True)
merged_df['cumulative_stock_9323'].fillna(0, inplace=True)

# Fill NaN values with 0 (if any)
merged_df['total_produced_9321'].fillna(0, inplace=True)
merged_df['total_produced_9323'].fillna(0, inplace=True)
# Drop the helper columns if they are no longer needed
merged_df.drop(columns=['total_produced_9321', 'total_produced_9323','stock_created'], inplace=True)
# file_name = 'testing.xlsx'

# # saving the excel
# merged_df.to_excel(file_name)


stock_num = merged_df[merged_df['ID'] == 310001984]
stock_num

C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\3647059678.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['cumulative_stock_9321'].fillna(0, inplace=True)
C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\3647059678.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['cumulative_stock_9323'].fillna(0, inplace=True)
C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\3647059678.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['total_produced_9321'].fillna(0, inplace=True)
C:\Users\nookty\AppData\Local\Temp\ipykernel_7252\3647059678.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['total_produced_9323'].fillna(0, inplace=True)

,Day,Factory ID,ID,stocks Needed,num_stocks,produced_at_plant_9321,produced_at_plant_9323,cumulative_stock_9321,cumulative_stock_9323
32,1,9321,310001984,3336,1902.0,9000.0,0.0,10902.0,0.0
101,2,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
170,3,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
240,4,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
309,5,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
378,6,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
447,7,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
516,8,9321,310001984,3332,0.0,0.0,0.0,10902.0,0.0
585,9,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
655,10,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
724,11,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
794,12,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
863,13,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
932,14,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1001,15,9321,310001984,2235,0.0,0.0,0.0,10902.0,0.0
1070,16,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1139,17,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1208,18,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1277,19,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1346,20,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1415,21,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1484,22,9321,310001984,2220,0.0,0.0,0.0,10902.0,0.0
1554,23,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1623,24,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1692,25,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1761,26,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1830,27,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1899,28,9321,310001984,0,0.0,0.0,0.0,10902.0,0.0
1968,29,9321,310001984,0,0.0,2700.0,0.0,13602.0,0.0
2037,30,9321,310001984,0,0.0,9000.0,0.0,22602.0,0.0

In [18]:
for id in merged_df['ID']:
    print(id)

310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100
310002381
310004556
310004568
310004566
310004569
310002949
310002950
310002953
310002954
310002951
310002952
310003079
310003080
310001198
310001229
310002641
310002642
310002645
310002646
310002643
310002644
310001998
310001999
310002013
310002014
310001991
310001992
310002142
310002143
310002906
310002015
310002016
310002000
310002001
310001994
310001993
310002099
310001984
310002002
310002003
310001995
310001996
310003155
310003165
310003164
310003341
310003417
310003603
310003649
310003571
310003572
310003573
310003574
310003727
310003728
310003722
310003724
310003725
310003703
310003704
310003714
310003711
310004069
310004070
310004072
310004209
310004338
310004339
310002100

In [285]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

def stock_optimization(total_stocks_needed, added_stock, n_days):
    daily_avg_stock_set = total_stocks_needed / n_days

    def objective(x):
        return np.sum((x - daily_avg_stock_set) ** 2)

    constraints = [{'type': 'eq', 'fun': lambda x: np.sum(x) - total_stocks_needed}]
    bounds = [(0, None) for _ in range(n_days)]
    x0 = np.full(n_days, daily_avg_stock_set)

    result = minimize(objective, x0, method='SLSQP', bounds=bounds, constraints=constraints)
    optimized_stock_set = result.x

    total_stocks_in_system = 0
    stocks_used = np.zeros(n_days)
    stocks_left = np.zeros(n_days)
    stock_shortages = np.zeros(n_days)

    for i in range(n_days):
        total_stocks_in_system += added_stock[i]
        stocks_used[i] = min(optimized_stock_set[i], total_stocks_in_system)
        stocks_left[i] = total_stocks_in_system - stocks_used[i]
        stock_shortages[i] = max(0, optimized_stock_set[i] - stocks_used[i])
        total_stocks_in_system -= stocks_used[i]

    return optimized_stock_set, stocks_used, stocks_left, stock_shortages

# Assuming merged_df is the DataFrame you're starting with
n_days = 7

# Initialize lists to store results
results = []

# Group by ID
grouped = merged_df.groupby('ID')

# Apply optimization for each group
for id_value, group in grouped:
    if len(group) < n_days:
        print(f"Skipping group with ID {id_value} because it has less than {n_days} days of data.")
        continue

    added_stock = group['num_stocks'].values + group['produced_at_plant_9321'].values + group['produced_at_plant_9323'].values 
    total_stocks_needed = group['stocks Needed'].sum()  # Sum total stocks needed across the group
    
    # Ensure that the length of the added_stock array matches n_days
    added_stock = added_stock[:n_days]
    
    optimized_stock_set, stocks_used, stocks_left, stock_shortages = stock_optimization(total_stocks_needed, added_stock, n_days)
    
    results.append(pd.DataFrame({
        'Day': group['Day'].values[:n_days],
        'ID': id_value,
        'optimized_stock_set': optimized_stock_set,
        'stocks_used': stocks_used,
        'stocks_left': stocks_left,
        'stock_shortages': stock_shortages
    }))

# Concatenate results into a single DataFrame
if results:
    results_df = pd.concat(results)
    # Merge results back with the original DataFrame
    merged_df = merged_df.merge(results_df, on=['Day', 'ID'], how='left')

    print(merged_df)

    # Calculate the total stocks used for verification
    total_stocks_used = merged_df['stocks_used'].sum()
    total_stocks_needed_all = merged_df['stocks Needed'].sum()
    print("\nTotal Stocks Needed: ", total_stocks_needed_all)
    print("Total Stocks Used: ", total_stocks_used)
    print("Difference: ", total_stocks_needed_all - total_stocks_used)
else:
    print("No valid groups for optimization.")

      Day Factory ID         ID  stocks Needed  num_stocks  \
0       1       9321  310002949            184      1848.0
1       1       9321  310002950           1874       183.0
2       1       9321  310002953           1806     11276.0
3       1       9321  310002954           7066      2437.0
4       1       9321  310002951             78      2317.0
...   ...        ...        ...            ...         ...
2071   30       9321  310002381              0         0.0
2072   30       9323  310004556              0         0.0
2073   30       9323  310004568              0         0.0
2074   30       9323  310004566              0         0.0
2075   30        NaN  310004569              0         0.0

      produced_at_plant_9321  produced_at_plant_9323  cumulative_stock_9321  \
0                        0.0                     0.0                 1848.0
1                        0.0                     0.0                  183.0
2                        0.0                     0.0                11276.0
3                        0.0                     0.0                 2437.0
4                        0.0                     0.0                 2317.0
...                      ...                     ...                    ...
2071                     0.0                     0.0                 2723.0
2072                     0.0                     0.0                    0.0
2073                     0.0                     0.0                    0.0
2074                     0.0                     0.0                    0.0
2075                     0.0                     0.0                    0.0

      cumulative_stock_9323  optimized_stock_set  stocks_used   stocks_left  \
0                       0.0           133.142857   133.142857   1714.857143
1                       0.0           815.142857   183.000000      0.000000
2                       0.0           993.142857   993.142857  10282.857143
3                       0.0          3408.714286  2437.000000      0.000000
4                       0.0            72.000000    72.000000   2245.000000
...                     ...                  ...          ...           ...
2071                    0.0                  NaN          NaN           NaN
2072                   85.0                  NaN          NaN           NaN
2073                 3955.0                  NaN          NaN           NaN
2074                    4.0                  NaN          NaN           NaN
2075                    0.0                  NaN          NaN           NaN

      stock_shortages
0            0.000000
1          632.142857
2            0.000000
3          971.714286
4            0.000000
...               ...
2071              NaN
2072              NaN
2073              NaN
2074              NaN
2075              NaN

[2076 rows x 13 columns]

Total Stocks Needed:  1430054
Total Stocks Used:  744178.142857143
Difference:  685875.857142857